<div class="App">
 <header class="App-header">
   <div class="App">
    <header class="App-header">
      <% num = 10 %>
      <p>Factorial sum of <%= num %>:</p>
      <p><%= suma_factorial(num) %></p>
   </header>
</div>
  </header>
</div>
